@import '../../../theme/variables';

.info-content_block {
  height: 490px;
  border: 1px solid $colorsLight-grey;
  margin: 0 5px;
  position: relative;
  cursor: pointer;
  &.activated {
    border: 1px solid $colorsBlue;
  }
  @media (max-width: $smallView) {
    height: 400px;
  }
  .info-content_block-title-block {
    height: 65px;
    display: flex;
    padding: 0 25px;
    @media (max-width: $mediumView) {
      height: 60px;
    }
    .info-content_block-title {
      color: $colorsBlue;
      text-align: center;
      margin: auto;
    }
  }
  .separator {
    margin: 0 auto;
    border-bottom: 1px solid $colorsLight-grey;
    width: 70px;
  }
  .info-content_block-text-block {
    margin-top: 20px;
    padding-right: 25px;
    ul {
      -webkit-padding-start: 25px;
    }
    li {
      font-family: $fontsRoboto;
      font-weight: $fontsRegular;
      font-size: 13px;
      color: $colorsDarkBlue;
      padding-bottom: 5px;
    }
    @media (max-width: $largeView) {
      li {
        font-size: 13px;
      }
    }
    @media (max-width: $mediumView) {
      li {
        font-size: 13px;
      }
    }
  }
  .info-content_block-select-block {
    position: absolute;
    bottom: 15px;
    width: 100%;

    .info-content_block-select-block-child {
      background-color: $colorsLight-grey;
      height: 46px;
      margin: 0 15px;
      display: flex;
      &.activated {
        border: 1px solid $colorsBlue;
      }

    }
    .info-content_block-select-block-child-select {
      font-family: $fontsRoboto;
      font-weight: $fontsRegular;
      font-size: 16px;
      margin: auto;
      margin-left: 15px;
      @media (max-width: $largeView) {
        font-size: 14px;
      }
      @media (max-width: $mediumView) {
        font-size: 13px;
      }
      @media (max-width: $smallView) {
        margin: auto;
      }
      .choose {
        color: $colorsGrey;
        &.activated {
          color: $colorsBlue;
        }
      }
    }
    .radio-container{
      box-sizing: border-box;
      display: inline-block;
      position: relative;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      vertical-align: text-top;
      margin-right: 10px;
      margin-top: 1px;

      .outer-circle {
        border-color: $colorsGrey;
        box-sizing: border-box;
        height: 16px;
        left: 0;
        position: absolute;
        top: 0;
        transition: border-color ease 280ms;
        width: 16px;
        border-width: 2px;
        border-style: solid;
        border-radius: 50%;
        &.activated {
          border-color: $colorsGreen;
        }
      }
      .inner-circle {
        transform: scale(.5);
        border-radius: 50%;
        box-sizing: border-box;
        height: 16px;
        left: 0;
        position: absolute;
        top: 0;
        transition: transform ease 280ms,background-color ease 280ms;
        width: 16px;
        background-color: $colorsGreen;
        display: none;
        &.activated {
          display: inherit;
        }
      }
    }
  }
}
