<div class="info-content_block" (click)="selectRoom(roomType.hash)" [ngClass]="{'activated': roomType.active}">
  <div class="info-content_block-title-block">
    <h2 class="info-content_block-title">{{roomType?.name}}</h2>
  </div>
  <div class="separator"></div>
  <div class="info-content_block-text-block">
    <ul>
      <li *ngFor="let desc of roomType?.description">
        {{desc}}
      </li>
    </ul>
  </div>
  <div class="info-content_block-select-block" >
    <div class="info-content_block-select-block-child" [ngClass]="{'activated': roomType.active}">
      <span class="info-content_block-select-block-child-select">
        <span class="radio-container">
          <div class="outer-circle selected" [ngClass]="{'activated': roomType.active}"></div>
          <div class="inner-circle selected" [ngClass]="{'activated': roomType.active}"></div>
        </span>
        <span class="choose" [ngClass]="{'activated': roomType.active}">Elegir régimen</span>
      </span>
    </div>
  </div>
</div>
