<div class="tag-exclusive">
  <span>EXCLUSIVO HOTELES.COM</span>
</div>
<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                       hideToggle="true"
                       [expanded]="open">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="title">
          <div class="arrow">
            <img src="./assets/images/angle-down-blue.svg" alt="" [ngClass]="{'open': panelOpenState}">
          </div>
          {{title}}
          <span class="opcional">Opcional</span>
        </div>
      </mat-panel-title>

    </mat-expansion-panel-header>
    <div class="card">
      <div class="image"[ngStyle]="{'background-image': 'url(' + itemsValue[0].img + ')', 'background-size': 'cover',  'display': 'inline-block'}"></div>
      <div class="card-content">
        <div class="card-content-text">
          <h3 class="card-content-title">{{itemsValue[0].title}}</h3>
          <p class="card-content-info">{{itemsValue[0].description}} </p>
        </div>

        <div class="card-content-more" (click)="openMoreInfo1()">
          <div class="card-content-more-info">Más información y condiciones
            <div class="arrow-small">
              <img src="./assets/images/angle-down-blue.svg" alt="" [ngClass]="{'open': moreInfo1}">
            </div>
          </div>
        </div>
      </div>
      <cocktail-conditions [moreInfo]= "moreInfo1"></cocktail-conditions>
    </div>
    <div class="card">
      <div class="image"[ngStyle]="{'background-image': 'url(' + itemsValue[1].img + ')', 'background-size': 'cover', 'display': 'inline-block'}"></div>
      <div class="card-content">
        <div class="card-content-text">
          <h3 class="card-content-title">{{itemsValue[1].title}}</h3>
          <p class="card-content-info">{{itemsValue[1].description}} </p>
        </div>

        <div class="card-content-more" (click)="openMoreInfo2()">
          <div class="card-content-more-info">Más información y condiciones
            <div class="arrow-small">
              <img src="./assets/images/angle-down-blue.svg" alt="" [ngClass]="{'open': moreInfo2}">
            </div>
          </div>
        </div>

      </div>
      <cocktail-conditions [moreInfo]= "moreInfo2"></cocktail-conditions>
    </div>
  </mat-expansion-panel>
</mat-accordion>
