@import '../../../theme/variables';

.tag-exclusive {
  background-color: $colorsRed;
  position: absolute;
  width: 220px;
  height: 25px;
  top: 0;
  right: 0;
  display: flex;
  span {
    color: #fff;
    font-family: $fontsRoboto;
    font-weight: $fontsRegular;
    margin: auto;
    font-size: 14px;
  }
  @media (max-width: $smallView) {
    width: 160px;
    span {
      font-size: 10px;
    }
  }
}
.arrow {
  display: inline-block;
  margin-right: 20px;
  img {
    transform: rotate(0deg);
    &.open {
      transform: rotate(180deg);
      @media (max-width: $smallView) {
        height: 11px;
      }
    }
  }
}
.title {
  font-family: $fontsRobotoSlab;
  font-weight: bold;
  font-size: 24px;
  color: $colorsPrimary;
  padding: 30px 0 20px 20px;
  .opcional {
    font-family: $fontsRoboto;
    font-size: 12px;
    color: $colorsBlue;
    margin-left: 15px;
  }
  @media (max-width: $smallView) {
    font-size: 20px;
  }
}
.card {
  border: 1px solid $colorsLight-grey;
  margin-bottom: 20px;
  .image {
  height: 180px;
  width: 270px;
    @media (max-width: $mediumView) {
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .card-content {
    display: inline-block;
    width: 52%;
    vertical-align: top;
    margin-left: 20px;
    @media (max-width: $mediumView) {
      width: auto;
      margin-left: 0;
      padding: 0 25px;
    }
    .card-content-title {
      font-family: $fontsRobotoSlab;
      font-weight: bold;
      font-size: 18px;
      color: $colorsSecondary;
      margin-bottom: 0;
    }
    .card-content-info {
      font-family: $fontsRoboto;
      font-weight: $fontsRegular;
      font-size: 14px;
      color: $colorsGrey;
      min-height: 85px;
      margin-top: 5px;
      @media (max-width: $smallView) {
        font-size:12px;
      }
    }
    .card-content-more {
      display: inline-block;
      cursor: pointer;
      @media (max-width: $mediumView) {
        margin-bottom: 20px;
      }
      @media (max-width: $smallView) {
        display: block;
        text-align: center;
        font-size:12px;
      }
      .card-content-more-info {
        font-family: $fontsRobotoSlab;
        font-weight: bold;
        font-size: 14px;
        color: $colorsPrimary;
        margin-bottom: 20px;
        @media (max-width: $smallView) {
          font-size:12px;
        }
      }
    }
    .arrow-small {
      display: inline-block;
      margin-left: 20px;
      @media (max-width: $smallView) {
        display:block;
        margin-left: 0;
      }
      img {
        height: 8px;
        width: 12px;
        transform: rotate(180deg);
        &.open {
          transform: rotate(0deg);
        }
      }
    }
  }
}


