$colorsPrimary: #4BA7EE;
$colorsSecondary: #003970;
$colorsDarkBlue: #001841;
$colorsBlue: #326C96;
$colorsLight-grey: #DEE1E8;
$colorsGrey: #616469;
$colorsRed: #E82E34;
$colorsGreen: #6DC138;


$fontsRoboto: Roboto;
$fontsRobotoSlab: Roboto Slab;
$fontsRegular: 400;


//grid

$default-grid-columns: 12;
$default-grid-gutter: 2%;

//Responsives Views

$largeView: 1200px;
$mediumView: 768px;
$smallView: 480px;
