@import '../theme/variables';

.header {
  padding: 2px 25px;
}
.tablinks{
  font-family: $fontsRobotoSlab;
  font-weight: $fontsRegular;
  font-size: 16px;
  display: inline-block;
  width: 120px;
  text-align: center;
  color: $colorsPrimary;
  height: 100%;
  display: flex;
  cursor: pointer;
  &.activated {
    color: $colorsSecondary;
    border-bottom: 2px solid $colorsSecondary;
  }
  .tab-name {
    margin: auto;
  }
  @media (max-width: $smallView) {
    width: 50%;
  }
 }

/* Style the tab content */
.tabcontent {
  display: block;
  padding: 6px 12px;
  border: 1px solid $colorsLight-grey;

  &.first-content {
    border-top: none;
  }
  &.second-content {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 0;
  }
}
.content-block {
  position: relative;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.header {
  height: 45px;
  border: 1px solid $colorsLight-grey;
  display: flex;
  justify-content: flex-end;
}
.main-title {
  font-family: $fontsRobotoSlab;
  font-weight: bold;
  text-align: center;
  color: $colorsSecondary;
  margin: 40px 0;
  .hotel {
    text-transform: uppercase;
    font-weight: $fontsRegular;
    margin-right: 10px;

  }
}
.block-stars {
  display: inline-block;
  margin-left: 30px;
  @media (max-width: $mediumView) {
    display: block;
    margin: 0px;
  }
}
.info-content {
  display: flex;
  margin: 0 10px;
  flex-wrap: wrap;

}




