<div class="content">
  <div class="header">
      <div class="tablinks" (click)="openTab('tab1')" [ngClass]="{'activated': activeTab === 'tab1' }">
        <span class="tab-name">Tab 1</span>
      </div>
      <div class="tablinks" (click)="openTab('tab2')" [ngClass]="{'activated': activeTab === 'tab2'}">
        <span class="tab-name">Tab 2</span>
      </div>
  </div>
  <div id="tab1" class="tabcontent first-content" *ngIf="activeTab === 'tab1'">
    <div class="content-block">
      <h1 class="main-title"><span class="hotel">Hotel</span>{{hotelName.name}}
        <div class="block-stars">
          <img src="./assets/images/star-orange.svg" alt="">
          <img src="./assets/images/star-orange.svg" alt="">
          <img src="./assets/images/star-orange.svg" alt="">
          <img src="./assets/images/star-orange.svg" alt="">
        </div>
      </h1>
      <div class="info-content grid">
        <cocktail-room-type class="grid__col-lg-2 grid__col-md-4 grid__col-sm-6 grid__col-xs-12" (onSetActive)="onSetActive($event)" [roomType]="room" *ngFor="let room of items"></cocktail-room-type>
      </div>
    </div>
  </div>

  <div id="tab2" class="tabcontent second-content"  *ngIf="activeTab === 'tab2'">
    <div class="content-block">
      <cocktail-improvements [itemsValue]="improvements" [title]="improvementsTitle" [open]="true"></cocktail-improvements>
    </div>

  </div>
  <div id="tab2" class="tabcontent second-content"  *ngIf="activeTab === 'tab2'">
    <div class="content-block">
      <cocktail-improvements [itemsValue]="serviceRoom" [title]="serviceRoomTitle" [open]="false"></cocktail-improvements>
    </div>
  </div>

</div>

