<div class="card-includes" [ngClass]="{'show': moreInfo}">
  <p class="card-includes-title">Incluye</p>
  <div class="card-includes-block" [ngClass]="{'show': moreInfo}">
    <ul>
      <li>
        Baño javanés Mandi Susu tradicional: evocación de los baños que tomaban las princesas de las cortes y palacios de Java Central, en Indonesia, con antiguas recetas en las que se mezclaba la leche y las especias.
      </li>
    </ul>
  </div>
  <div class="card-includes-block">
    <ul>
      <li>
        Baño floral balinés: con aceite de almendra dulce y aromas de jazmín.
      </li>
      <li>
        Baño oceánico: con sal marina y gajos de mandarina o lima.
      </li>
      <li>
        Baño de pies floral: baño aromático de pies, con pétalos y aromas.
      </li>
    </ul>
  </div>
  <div class="card-includes-block">
    <ul>
      <li>Baño de vapor herbal: baño de vapor con hierbas del sudeste asiático.
      </li>
      <li>Rain shower.
      </li>
    </ul>
  </div>
  <div class="non-acum">Valores no acumulables a otras promociones similares</div>
</div>
