@import '../../../theme/variables';

.card-includes {
  padding: 0 65px;
  font-family: $fontsRoboto;
  font-weight: $fontsRegular;
  font-size: 14px;
  color: $colorsGrey;
  overflow: hidden;
  height: 230px;
  -webkit-transition: height .35s;
  -o-transition: height .35s;
  transition: height .35s;
  &.show {
    height: 0;
    margin-top: -5px;
    -webkit-transition: height .35s;
    -o-transition: height .35s;
    transition: height .35s;


  }
  @media (max-width: $largeView) {
    height: auto;
  }
  @media (max-width: $mediumView) {
    padding: 0;
    height: auto;
  }
  @media (max-width: $largeView) {
    padding: 0 25px;
  }
  .card-includes-title {
    margin-bottom: 10px;

  }
  .card-includes-block {
    vertical-align: top;
    display: inline-block;
    width: 285px;
    padding-right: 15px;
    ul {
      margin: 0;
      -webkit-padding-start: 15px;
    }
    @media (max-width: $largeView) {
      width: 100%;
    }
    @media (max-width: $mediumView) {
      width: auto;
      padding: 0 15px;
      ul {
        padding-right: 25px;
      }
    }
    @media (max-width: $smallView) {
      ul {
        padding-right: 0;
        -webkit-padding-start: 0px;
      }
    }

  }
  .non-acum {
    font-family: $fontsRobotoSlab;
    font-weight: bold;
    font-size: 14px;
    color: $colorsSecondary;
    margin: 30px 0;
    @media (max-width: $mediumView) {
      padding: 0 25px;

    }
  }
}
