@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'node_modules/flexbox-grid-mixins/sass/flexbox-grid-mixins';

@import 'theme/variables';

.grid {
  @include grid($gutter: $default-grid-gutter);

  @for $i from 1 through $default-grid-columns {
    > .grid__col-#{$i} {
      @include grid-col($col: $i, $grid-columns: $default-grid-columns, $gutter: $default-grid-gutter);
    }
  }
}

.grid {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -1%;
}

//large - lg

@media (min-width: $largeView) {
  .grid > .grid__col-lg-1 {
    box-sizing: border-box;
    -webkit-flex: 0 0 6.33333%;
    -ms-flex: 0 0 6.33333%;
    flex: 0 0 6.33333%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-lg-2 {
    box-sizing: border-box;
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    margin: 0 0 0;
  }

  .grid > .grid__col-lg-3 {
    box-sizing: border-box;
    -webkit-flex: 0 0 23%;
    -ms-flex: 0 0 23%;
    flex: 0 0 23%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-lg-4 {
    box-sizing: border-box;
    -webkit-flex: 0 0 31.33333%;
    -ms-flex: 0 0 31.33333%;
    flex: 0 0 31.33333%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-lg-5 {
    box-sizing: border-box;
    -webkit-flex: 0 0 39.66667%;
    -ms-flex: 0 0 39.66667%;
    flex: 0 0 39.66667%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-lg-6 {
    box-sizing: border-box;
    -webkit-flex: 0 0 48%;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-lg-7 {
    box-sizing: border-box;
    -webkit-flex: 0 0 56.33333%;
    -ms-flex: 0 0 56.33333%;
    flex: 0 0 56.33333%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-lg-8 {
    box-sizing: border-box;
    -webkit-flex: 0 0 64.66667%;
    -ms-flex: 0 0 64.66667%;
    flex: 0 0 64.66667%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-lg-9 {
    box-sizing: border-box;
    -webkit-flex: 0 0 73%;
    -ms-flex: 0 0 73%;
    flex: 0 0 73%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-lg-10 {
    box-sizing: border-box;
    -webkit-flex: 0 0 81.33333%;
    -ms-flex: 0 0 81.33333%;
    flex: 0 0 81.33333%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-lg-11 {
    box-sizing: border-box;
    -webkit-flex: 0 0 89.66667%;
    -ms-flex: 0 0 89.66667%;
    flex: 0 0 89.66667%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-lg-12 {
    box-sizing: border-box;
    -webkit-flex: 0 0 98%;
    -ms-flex: 0 0 98%;
    flex: 0 0 98%;
    margin: 0 1% 2%;
  }
}

//medium -md

@media (max-width: $largeView) {
  .grid > .grid__col-md-1 {
    box-sizing: border-box;
    -webkit-flex: 0 0 6.33333%;
    -ms-flex: 0 0 6.33333%;
    flex: 0 0 6.33333%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-md-2 {
    box-sizing: border-box;
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    margin: 0 0 0;
  }

  .grid > .grid__col-md-3 {
    box-sizing: border-box;
    -webkit-flex: 0 0 23%;
    -ms-flex: 0 0 23%;
    flex: 0 0 23%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-md-4 {
    box-sizing: border-box;
    -webkit-flex: 0 0 31.33333%;
    -ms-flex: 0 0 31.33333%;
    flex: 0 0 31.33333%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-md-5 {
    box-sizing: border-box;
    -webkit-flex: 0 0 39.66667%;
    -ms-flex: 0 0 39.66667%;
    flex: 0 0 39.66667%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-md-6 {
    box-sizing: border-box;
    -webkit-flex: 0 0 48%;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-md-7 {
    box-sizing: border-box;
    -webkit-flex: 0 0 56.33333%;
    -ms-flex: 0 0 56.33333%;
    flex: 0 0 56.33333%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-md-8 {
    box-sizing: border-box;
    -webkit-flex: 0 0 64.66667%;
    -ms-flex: 0 0 64.66667%;
    flex: 0 0 64.66667%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-md-9 {
    box-sizing: border-box;
    -webkit-flex: 0 0 73%;
    -ms-flex: 0 0 73%;
    flex: 0 0 73%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-md-10 {
    box-sizing: border-box;
    -webkit-flex: 0 0 81.33333%;
    -ms-flex: 0 0 81.33333%;
    flex: 0 0 81.33333%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-md-11 {
    box-sizing: border-box;
    -webkit-flex: 0 0 89.66667%;
    -ms-flex: 0 0 89.66667%;
    flex: 0 0 89.66667%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-md-12 {
    box-sizing: border-box;
    -webkit-flex: 0 0 98%;
    -ms-flex: 0 0 98%;
    flex: 0 0 98%;
    margin: 0 1% 2%;
  }
}

//small - sm

@media (max-width: $mediumView) {
  .grid > .grid__col-sm-1 {
    box-sizing: border-box;
    -webkit-flex: 0 0 6.33333%;
    -ms-flex: 0 0 6.33333%;
    flex: 0 0 6.33333%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-sm-2 {
    box-sizing: border-box;
    -webkit-flex: 0 0 14.66667%;
    -ms-flex: 0 0 14.66667%;
    flex: 0 0 14.66667%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-sm-3 {
    box-sizing: border-box;
    -webkit-flex: 0 0 23%;
    -ms-flex: 0 0 23%;
    flex: 0 0 23%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-sm-4 {
    box-sizing: border-box;
    -webkit-flex: 0 0 31.33333%;
    -ms-flex: 0 0 31.33333%;
    flex: 0 0 31.33333%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-sm-5 {
    box-sizing: border-box;
    -webkit-flex: 0 0 39.66667%;
    -ms-flex: 0 0 39.66667%;
    flex: 0 0 39.66667%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-sm-6 {
    box-sizing: border-box;
    -webkit-flex: 0 0 48%;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-sm-7 {
    box-sizing: border-box;
    -webkit-flex: 0 0 56.33333%;
    -ms-flex: 0 0 56.33333%;
    flex: 0 0 56.33333%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-sm-8 {
    box-sizing: border-box;
    -webkit-flex: 0 0 64.66667%;
    -ms-flex: 0 0 64.66667%;
    flex: 0 0 64.66667%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-sm-9 {
    box-sizing: border-box;
    -webkit-flex: 0 0 73%;
    -ms-flex: 0 0 73%;
    flex: 0 0 73%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-sm-10 {
    box-sizing: border-box;
    -webkit-flex: 0 0 81.33333%;
    -ms-flex: 0 0 81.33333%;
    flex: 0 0 81.33333%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-sm-11 {
    box-sizing: border-box;
    -webkit-flex: 0 0 89.66667%;
    -ms-flex: 0 0 89.66667%;
    flex: 0 0 89.66667%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-sm-12 {
    box-sizing: border-box;
    -webkit-flex: 0 0 98%;
    -ms-flex: 0 0 98%;
    flex: 0 0 98%;
    margin: 0 1% 2%;
  }

}

//extrasmall - xs

@media (max-width: $smallView) {
  .grid > .grid__col-xs-1 {
    box-sizing: border-box;
    -webkit-flex: 0 0 6.33333%;
    -ms-flex: 0 0 6.33333%;
    flex: 0 0 6.33333%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-xs-2 {
    box-sizing: border-box;
    -webkit-flex: 0 0 14.66667%;
    -ms-flex: 0 0 14.66667%;
    flex: 0 0 14.66667%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-xs-3 {
    box-sizing: border-box;
    -webkit-flex: 0 0 23%;
    -ms-flex: 0 0 23%;
    flex: 0 0 23%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-xs-4 {
    box-sizing: border-box;
    -webkit-flex: 0 0 31.33333%;
    -ms-flex: 0 0 31.33333%;
    flex: 0 0 31.33333%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-xs-5 {
    box-sizing: border-box;
    -webkit-flex: 0 0 39.66667%;
    -ms-flex: 0 0 39.66667%;
    flex: 0 0 39.66667%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-xs-6 {
    box-sizing: border-box;
    -webkit-flex: 0 0 48%;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-xs-7 {
    box-sizing: border-box;
    -webkit-flex: 0 0 56.33333%;
    -ms-flex: 0 0 56.33333%;
    flex: 0 0 56.33333%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-xs-8 {
    box-sizing: border-box;
    -webkit-flex: 0 0 64.66667%;
    -ms-flex: 0 0 64.66667%;
    flex: 0 0 64.66667%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-xs-9 {
    box-sizing: border-box;
    -webkit-flex: 0 0 73%;
    -ms-flex: 0 0 73%;
    flex: 0 0 73%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-xs-10 {
    box-sizing: border-box;
    -webkit-flex: 0 0 81.33333%;
    -ms-flex: 0 0 81.33333%;
    flex: 0 0 81.33333%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-xs-11 {
    box-sizing: border-box;
    -webkit-flex: 0 0 89.66667%;
    -ms-flex: 0 0 89.66667%;
    flex: 0 0 89.66667%;
    margin: 0 1% 2%;
  }

  .grid > .grid__col-xs-12 {
    box-sizing: border-box;
    -webkit-flex: 0 0 98%;
    -ms-flex: 0 0 98%;
    flex: 0 0 98%;
    margin: 0 1% 2%;
  }
}
body {
  font-family: 'Roboto Slab', serif;
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: $fontsRegular;
}
.content {
  max-width: $largeView;
  padding: 15px;
  margin: 0 auto;
}

.mat-toolbar, .mat-tab-group {
  width: 100%;
}
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
  background-color: transparent;
}

.mat-expansion-panel-body {
  padding: 0 20px 1px !important;
}
.mat-expansion-panel-header {
  height: auto !important;
  padding: 0 !important;
}
